.container {
  font-family: "Helvetica Neue";
  font-size: 14px;
}

/*******************
 Photo Carousel
*******************/

.photo-carousel {
  width: 750px;
  padding: 30px;
  font-family: "Helvetica Neue";
  font-size: 14px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.box {
  width: 250px;
  height: 250px;
  margin: 0 0px;
  transition: 0.5s;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.box:hover {
  cursor: pointer;
}

.selected {
  transform: scale(1.15);
  transition: 0.5s;
  z-index: 2;
}

/* Comment Preview Section */

.comment-preview {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5px;
  transition: 0.3s;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: 5px;
}

.comment-preview.hide-comment {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.icon {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 10%;
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}

.comment-preview__text {
  font-size: 11px;
}

.comment {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  font-weight: 700;
  font-size: 11px;
}

/****** PhotoMore section ******/

.photo-more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.small-photo {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.small-photo.zero {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}

.small-photo.one {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}

.small-photo.two {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}

.small-photo.three {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}

.small-photo.cover {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whitebox__area {
  width: 20px;
  height: 20px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
  margin-bottom: 10px;
}

.whitebox {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 10%;
}

.whitebox.one {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}

.whitebox.two {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}

.whitebox.three {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}

.whitebox.four {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}
/*******************
 Photo Modal Section
*******************/

.photo-modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 10;
}

.photo-modal-close {
  position: absolute;
  top: -28px;
  right: 0;
  display: flex;
  align-content: center;
}

.photo-modal-close p {
  margin: auto 0;
  color: #999;
  font-weight: 700;
}

.photo-modal-close svg {
  padding: 0px;
  height: 24px;
  width: 24px;
  fill: #999;
}

.photo-modal-close:hover p, .photo-modal-close:hover svg {
  color: white;
  fill: white;
  cursor: pointer;
}

.photo-modal {
  width: 90%;
  max-width: 1300px;
  height: 92%;
  /* min-width: 800px;
  min-height: 500px; */
  /* background-color: rgba(0, 0, 0, 0); */
  /* border-radius: 10%; */
  position: relative;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 1fr 140px;
}

/****** Photo Modal Image ******/

.photo-modal__image {
  width: 100%;
  height: 100%;
  grid-column: 1/span 1;
  grid-row: 1/span 2;
  background-color: rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 30px;
}

svg.arrow {
  padding: 0px;
  height: 50px;
  width: 50px;
  fill: rgba(255,255,255, 0.7);
}

.arrow-container-left {
  grid-column: 1/span 1;
  grid-row: 1/span 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrow-container-right {
  grid-column: 2/span 1;
  grid-row: 1/span 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrow-container-left:hover, .arrow-container-right:hover {
  cursor: pointer;
}

.arrow-container-left:hover svg, .arrow-container-right:hover svg  {
  fill: rgba(255,255,255, 1);
}

.photo-modal_image-bottom-bar {
  grid-column: 1/span 2;
  grid-row: 2/span 1;
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  background: rgba(0, 0, 0, 0.7);
}

.photo-modal_image-bottom-bar p {
  margin: 0;
  color: #999;
  font-size: 12px;
  display: inline-block;
}

.photo-location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-bar-browse {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.bottom-bar-browse svg {
  height: 18px;
  width: 18px;
  margin: 0 5px 0 5px;
  fill: #999;
  display: inline-block;
}

.bottom-bar-browse:hover > * , .bottom-bar-actions__container:hover > * {
  fill: white;
  color: white;
  cursor: pointer;
}

.bottom-bar-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottom-bar-actions svg {
  height: 18px;
  width: 18px;
  fill: #999;
  display: inline-block;
  padding: 2px 2px 2px 2px;
}

.bottom-bar-actions p {
  padding: 2px 4px 2px 4px;
  font-weight: 600;
}

.bottom-bar-actions__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 2px 4px;
}

.bottom-bar-actions__container:hover {
  background: rgba(0, 0, 0, 0.9);
}

svg.flag-icon {
  fill: white;
  padding-right: 8px;
}

/****** Photo Modal Comment ******/

.photo-modal__comment {
  width: 100%;
  height: 100%;
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  background-color: white;
  box-sizing: border-box;
  padding: 12px;
  border-top-right-radius: 5px;
}

.user-section {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-modal__user-icon {
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 10%;
  margin-right: 10px;
}

.photo-modal__comment-right {
  height: 50px;
}

.photo-modal-username {
  line-height: 1.28571em;
  font-weight: bold;
  font-size: 14px;
  color: #0073BB;
  margin: 4px 0 6px 0;
}

.photo-modal-username:hover {
  text-decoration: underline;
  cursor: pointer;
}

.followers {
  width: 200px;
  height: 12px;
  display: flex;
  align-items: center;
}

.followers-icon, .star-icon {
  height: 100%;
  margin-right: 5px;
}

.text-icon {
  font-size: 12px;
  font-weight: 600;
  font-family: "Helvetica Neue";
  color: rgb(100, 100, 100);
  margin-right: 15px;
}

.comment-text {
  color: #333;
  margin-top: 6px;
  margin-bottom: 0;
}

.comment-date {
  color: #999;
  font-size: 12px;
  margin-top: 10px;
}

.comment-helpful {
  color: #666 ;
  font-size: 12px;
  font-weight: bold;
  margin: 12px 0 8px 0;
}

/* Helpful Buttons */
button.helpful-buttons {
  font-size: 100%;
  font-family: inherit;
  border: 1px solid #ccc;
  padding: 5px 8px;
  border-radius: 3px;
  margin: 0 3px 0 0;
}

button.helpful-buttons:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.helpful-buttons p{
  display: inline-block;
  color: #666;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 3px 5px 3px 8px;
}

.helpful__arrow {
	position: relative;
	height: 0px; width: 0px;
	border: 5px solid;
	border-color: 
		#666
		#666
		transparent
		transparent;
  display: inline-block;
  margin-left: 5px;
}

.helpful__arrow:before {
	content: '';
	position: absolute;
	top: 0px; right: 0px;
	display: block;
	height: 5px; width: 7px;
	background-color: #666;
	transform: 
		rotate(-45deg) 
		translate(2px, 0.75px);
}

.helpful__arrow.up {
  transform: rotate(-45deg);
}

.helpful__arrow.down {
  transform: rotate(135deg);
}


/****** Photo Modal AD ******/
.photo-modal__ad {
  width: 100%;
  height: 100%;
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  background-color: white;
  border-bottom-right-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
}

.photo-modal__ad-border {
  margin: 0 auto;
  width: 100%;
  border: 0.5px solid #ebac2c;
}

.photo-modal__ad-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
}

.photo-modal__ad-title-ADicon {
  height: 16px;
  width: 24px;
  margin-top: 10px;
  background: #ebac2c;
  text-align: center;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px 0 0;
}

.photo-modal__ad-title-ADicon p {
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin: 0;
}

.photo-modal__ad-title h3{
  color: #0073BB;
  font-size: 16px;
  font-weight: 400;
  display: inline;
  margin: 0 60px 0 0;
}

.photo-modal__ad-title h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.photo-modal__ad-title svg{
  height: 20px;
  width: 20px;
  fill: #ebac2c;
  justify-self: flex-end;
}

.photo-modal__ad-reviews {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.rating-stars-3_5 {
  background: url('https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png') top left no-repeat;
  background-position: 0 -348px;
  height: 18px;
  width: 110px;
  display: inline-block;
}

.photo-modal__ad-reviews p{
  display: inline-block;
  color: #666;
  margin: 5px 0 0 0;
}

.photo-modal__ad-comment p {
  color: #333;
  margin: 0;
  line-height: 18px;
}
 
span.commentor {
  font-weight: bold;
}

span.read-more {
  color: #0073BB;
  font-weight: bold;
}

span.read-more:hover {
  text-decoration: underline;
  cursor: pointer;
}